
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Signin</title>
    <% include ../partials/head %>
    <link href="/stylesheets/admin_home.css" rel="stylesheet">

    <script>

        $(document).ready(function() {
            var data = <%- data %>;
            console.log(data);

            if (data !== undefined) {
                generateSelector();
            }
            function generateSelector() {
                var x = document.getElementById("selector");

                for (i = 0; i < data.length; i++) {
                    var option = document.createElement("option");
                    option.value = data[i].email;
                    option.text = data[i].email;
                    x.appendChild(option);
                }

            };
        });

    </script>

</head>

<body>
<header>
    <% include ../partials/admin_header.ejs %>
</header>
<h2 class="form-signin-heading" style="text-align: center">Add New Supporter</h2>
<div class="container-fluid" style="margin-left: 50px;margin-right: 50px;margin-top: 100px">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <form class="form-signin" action = "/add/user" method="POST">

                <div class="form-group">
                    <label for="name">username :</label>
                    <input type="text" class="form-control" id="name" name="username">
                </div>
                <div class="form-group">
                    <label for="email">password :</label>
                    <input type="password" class="form-control" id="email" name="password">
                </div>
                <div class="form-group">
                    <label for="email">Select Supporter :</label>
                <select class="form-control" id="selector" name="supporter">


                </select>
                </div>
                <% if( typeof error !== 'undefined' ){
                %>
                <p><%= error%></p>
                <%
                }%>
                <button id="formsubmit" type="submit" class="btn btn-lg btn-primary btn-block">Add</button>

            </form>
        </div>
    </div>
</div>



</body>
</html>
